body {
    background-color: #000814;
    color: beige;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    text-align: center;
}

.buttons {
    background-color: #FFC300;
    color: #001D3D;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.image-container {
    height: 240px;    
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.descricao {
    text-align: center;
    margin: 0% 18%;
}

.foto1 {
    border-radius: 5%;
    box-shadow: 0px 0px 10px #FFC300;
    max-width: 240px;
    float: center;
}

.skills {
    margin-bottom: -10px;
}

#aboutme {
    margin-bottom: -5px;
}

.someSkills {
    margin-top: 30px;
}

.lastSkill {
    margin-bottom: 40px;
}

.footer {
    text-align: center;
}

div {
    border: 2px solid white;
}