.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-secondary);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px;
  margin: 0 auto;
  width: 100%;
}

.footer-name {
  font-family: var(--font-family-primary);
  font-size: 16px;
}

.socials-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 130px;
}

.socials-contact a {
  height: 30px;
}

@media (min-width: 1023px) {
  .footer-container {
    max-width: 1024px;
  }
}

@media (min-width: 1199px) {
  .footer-container {
    max-width: 1200px;
  }
}